:root {
  --font-family: "IBM Plex Sans Arabic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family);
}

/* Force LTR for Swipebox lightbox */
#swipebox-overlay,
#swipebox-slider,
.swipebox {
    direction: ltr !important;
}
